<td>
  <form action="/hapus_lapor" method="post" style="display:inline;">
    <input type="hidden" name="nama" value="<%= data['nama'] %>">
    <button class="btn hapus"
            onclick="return confirm('Yakin mau hapus data ini?')">
      Hapus
    </button>
  </form>
</td>
